h1 {
    text-shadow: 5px 5px 5px red;
    color:white;
    text-align: center;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a{
    font-size: 110%;
    text-shadow: 5px 5px 5px blue;
    color:white;
}


body {
    background-image: url("../images/background.png");
    color:white;
    text-align: center;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 700px;
}
  
.hide {
    display: none;
}
  
.start {
    text-align: center;
}

